//$color-primary: #2D3250;
//$color-secondary: #2D3250;
//$color-tertiary: #818FB4;
//$color-quaternary: #FB773C;
$color-heart: #DA0C81;
$color-primary: #100b22;
$color-secondary: #24242d;  // #1a1a2e
$color-tertiary: #26264c;
$color-tertiary-alt: #2b1e56;
$color-quaternary: #6e49e1;
$color-green: #0fbd7b;
$color-text: #ffffff;
$color-border: #747bff;
$color-less-important: #b0b0b0;
$color-darkgray: #34343b;